// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 Luckfox Electronics Co., Ltd.
 */

/dts-v1/;

#include "rv1103.dtsi"
#include "rv1106-evb.dtsi"
#include "rv1103-luckfox-pico-ipc.dtsi"

/ {
	model = "Luckfox Pico Mini B";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1103";

    gpio3pa1:gpio3pa1 {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&gpio3_pa1>;
        regulator-name = "gpio3_pa1";
        regulator-always-on;
    };
    gpio3pa2:gpio3pa2 {
        compatible = "ir_rx-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&gpio3_pa2>;
        regulator-name = "gpio3_pa2";
        regulator-always-on;
    };
    gpio3pa3:gpio3pa3 {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&gpio3_pa3>;
        regulator-name = "gpio3_pa3";
        regulator-always-on;
    };
    gpio3pa5:gpio3pa5 {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&gpio3_pa5>;
        regulator-name = "gpio3_pa5";
        regulator-always-on;
    };

    // for u-boot
	uboot-gpios {
		compatible = "uboot-gpios";
		u-boot,dm-pre-reloc;
		status = "okay";

		spi-cd = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		spi-reset = <&gpio1 RK_PD3 GPIO_ACTIVE_HIGH>;
		led-red = <&gpio3 RK_PA3 GPIO_ACTIVE_HIGH>;
		led-green = <&gpio3 RK_PA5 GPIO_ACTIVE_HIGH>;
	};
};

/**********GPIO**********/
&pinctrl {
    gpio3-pa1 {
        gpio3_pa1:gpio3-pa1 {
            rockchip,pins = <3 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
    	};
	};
    gpio3-pa2 {
        gpio3_pa2:gpio3-pa2 {
            rockchip,pins = <3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
    	};
	};
    gpio3-pa3 {
        gpio3_pa3:gpio3-pa3 {
            rockchip,pins = <3 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
    	};
	};
    gpio3-pa5 {
        gpio3_pa5:gpio3-pa5 {
            rockchip,pins = <3 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
    	};
	};
};

/**********SFC**********/
&sfc {
	status = "okay";
	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <75000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

/**********SDMMC**********/
// &sdmmc {
// 	status = "disabled";
	// max-frequency = <50000000>;
	// no-sdio;
	// no-mmc;
	// bus-width = <4>;
	// cap-mmc-highspeed;
	// cap-sd-highspeed;
	// disable-wp;
	// pinctrl-names = "default";
	// pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_det &sdmmc0_bus4>;
// };

/**********ETH**********/
&gmac {
	status = "disabled";
};

/**********USB**********/
&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "peripheral";
};

/**********SPI**********/
/* SPI0_M0 for oled */
&spi0 {
	status = "okay";
	spidev@0 {
		spi-max-frequency = <50000000>;
	};
};

/**********I2C**********/
/* I2C3_M1 */
&i2c3 {
	status = "disabled";
	clock-frequency = <100000>;
};

/**********UART**********/
/* UART3_M1 for 485 */
&uart3 {
	status = "okay";
};

/* UART4_M1 for ble */
&uart4 {
	status = "okay";
};

/* UART5_M2 for stc */
&uart5 {
	status = "okay";
	pinctrl-0 = <&uart5m2_xfer>;
};

/**********PWM**********/
/* PWM1_M0, for buzzer */
&pwm1 {
	status = "okay";
};
/* PWM0_M0, for 38k */
&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0m0_pins>;
};
