// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 Luckfox Electronics Co., Ltd.
 */

/dts-v1/;

#include "rv1103.dtsi"
#include "rv1106-evb.dtsi"
#include "rv1103-luckfox-pico-ipc.dtsi"

/ {
	model = "Luckfox Pico Mini A";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1103";

    gpio4pa3:gpio4pa3 {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&gpio4_pa3>;
        regulator-name = "gpio4_pa3";
        regulator-always-on;
    };  
    gpio4pa2:gpio4pa2 {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&gpio4_pa2>;
        regulator-name = "gpio4_pa2";
        regulator-always-on;
    };  
};

/**********GPIO**********/
&pinctrl {
    gpio4-pa3 {
        gpio4_pa3:gpio4-pa3 {
            rockchip,pins = <4 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
    	};
	};
    gpio4-pa2 {
        gpio4_pa2:gpio4-pa2 {
            rockchip,pins = <4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
    	};
	};
};

/**********SDMMC**********/
&sdmmc {
	max-frequency = <50000000>;
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_det &sdmmc0_bus4>;
	status = "okay";
};

/**********ETH**********/
&gmac {
	status = "disabled";
};

/**********USB**********/
&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "peripheral";
};

/**********SPI**********/
/* SPI0_M0 */
// &spi0 {
// 	status = "disabled";
// 	spidev@0 {
// 		spi-max-frequency = <50000000>;
// 	};
// };

/**********I2C**********/
/* I2C3_M1 */
&i2c3 {
	status = "okay";
	clock-frequency = <800000>;
};

/**********UART**********/
/* UART3_M1 */
&uart3 {
	status = "okay";
};

/* UART4_M1 */
&uart4 {
	status = "okay";
};

/**********PWM**********/
/* PWM1_M0 */
&pwm1 {
	status = "okay";
};
/* PWM2_M2 */
&pwm2 {
	status = "okay";
	pinctrl-0 = <&pwm2m2_pins>;
};
